---
import "@/assets/css/global.css";
import Layout from "@/components/layout.astro";
---

<Layout frontmatter={{ title: 'Interesting Theme' }}>
    <h1 class="text-3xl font-bold underline text-red-600">
        Hello world!
    </h1>
</Layout>

