---
import Layout from "@/components/layout.astro";
import { Hero } from '../components/react/hero'
import { Feature } from '../components/react/feature'
import { Pricing } from '../components/react/pricing'
---

<Layout frontmatter={{ title: 'Interesting Theme' }}>
    <p class="italic">Astro page (outside Starlight) containing react components...</p>
    <Hero client:visible />
    <Feature client:visible />
    <Pricing />
</Layout>

