---
import Layout from "@/components/layout.astro";
import MermaidMDX from "../content/docs/reference/mermaid.mdx";
---

<Layout frontmatter={{ title: 'Interesting Theme' }}>
<h1>Welcome to My Astro Page</h1>
<p>This is my main Astro page, and below is MDX content:</p>

<MermaidMDX />
</Layout>
