---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import "../assets/css/global.css";
---

<StarlightPage frontmatter={{ title: 'My custom page' }}>
    <h1 class="text-3xl font-bold underline text-red-600">
        Hello world!
    </h1>
</StarlightPage>
